<div class="search-click-bar" onclick="openSearchDrawer()">
  {{- partial "svg/search.svg" -}}
  {{/*  <input id="searchInput" type="text" placeholder="{{- i18n "search_placeholder" -}}" autocomplete="off"/>  */}}
  <span class="search-placeholder"> {{- i18n "search_placeholder" -}} </span>
  <span class="shortcut-hint">Ctrl+K</span>
  <span style="color: #7b7d7d;">/</span>
</div>

<button id="search-drawer-button" class="hidden">
  {{- partial "svg/search.svg" -}}
</button>

<div id="search-drawer-overlay" class="drawer-overlay"></div>
<div id="search-drawer" class="drawer hidden">
  <div class="drawer-content">
    {{ partial "search_drawer.html" }}
  </div>
</div>

<script>
  function openSearchDrawer() {
    const drawer = document.getElementById('search-drawer');
    const overlay = document.getElementById('search-drawer-overlay');

    drawer.classList.remove('hidden');
    overlay.classList.add('visible')

    setTimeout(() => {
      drawer.classList.add('open');
      document.querySelector('.search-text').focus();
    }, 10)
  }
</script>
